<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="Local" value="D:\repos\cetfs\src\outputpackages" />
  </packageSources>
  <disabledPackageSources>
    <clear />
    <add key="Power-Fx" value="true" />
  </disabledPackageSources>
</configuration>
